@model prjLookday.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-3">新增會員帳號</h1>


<div class="row">
    <div class="d-flex justify-content-center mb-3">
        <div class="col-md-3">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div id="UserPicPreview" class="d-flex justify-content-center"></div>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Username" class="control-label" for="demo1"></label>
                    <input asp-for="Username" class="form-control" id="demo1" required />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label" for="demo2"></label>
                    <input asp-for="Email" class="form-control" type="email" id="demo2" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label" for="demo3"></label>
                    <input asp-for="Password" class="form-control" id="demo3" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FPhone" class="control-label" for="demo4"></label>
                    <input asp-for="FPhone" class="form-control"  id="demo4"required />
                    <span asp-validation-for="FPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label"></label>
                    <input asp-for="RoleId" class="form-control" id="roleId" />
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">圖片</label>
                    <input class="form-control" type="file" id="UserPicInput" name="userpic" />
                </div>
                <p>
                    <br />
                </p>
                <div class="form-group">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="submit" value="建立" class="btn btn-primary btn-sm" />
                        <button class="btn btn-outline-warning btn-sm" onclick="demokey()">DEMO</button>
                        <form method="post" asp-controller="Home" asp-action="List">
                            <input type="submit" value="返回" class="btn btn-warning btn-sm " />
                        </form>
                    </div>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function demokey() {
            document.getElementById('demo1').value = 'Victoria';
            document.getElementById('demo2').value = 'vicvic@haha.org.com';
            document.getElementById('demo3').value = 'Vic1999';
            document.getElementById('demo4').value = '0922707299';
            document.getElementById('roleId').value = '1';
        }
        
        document.getElementById("UserPicInput").addEventListener('change', function (event) {
            var input = event.target;
            var preview = document.getElementById('UserPicPreview');
            preview.innerHTML = '';

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.maxHeight = '150px';
                    preview.appendChild(img);
                };
                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
}
