@model prjLookday.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mb-3">編輯會員資料</h1>


<div class="row">
    <div class="d-flex justify-content-center mb-3">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div id="UserPicPreview" class="d-flex justify-content-center"></div>
                </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preferences" class="control-label"></label>
                <input asp-for="Preferences" class="form-control" />
                <span asp-validation-for="Preferences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <input asp-for="RoleId" class="form-control" />
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">圖片</label>
                <input class="form-control" type="file" name="userpic" id="UserPicInput" />
            </div>
            <p>
                <br/>
            </p>
                <div class="form-group">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="submit" value="儲存" class="btn btn-primary btn-sm" />
                        <form method="post" asp-controller="Home" asp-action="List">
                            <input type="submit" value="返回" class="btn btn-warning btn-sm" />
                        </form>
                    </div>
                </div>
        </form>
    </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById("UserPicInput").addEventListener('change', function (event) {
            var input = event.target;
            var preview = document.getElementById('UserPicPreview');
            preview.innerHTML = '';

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.maxHeight = '150px';
                    preview.appendChild(img);
                };
                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
}
