@{
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-header {
        font-size: 4rem; /* 放大字體 */
        font-weight: bold; /* 字體加粗 */
        color: rgb(127,153,175); /* 更改字體顏色 */
        text-shadow: 2px 2px 4px rgb(214,180,189); /* 添加文字陰影 */
        margin-top: 100px;
    }
</style>

<div class="text-center">
    <h1 class="custom-header">Welcome 歡迎!</h1>
</div>
